<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.reactnativeonespanbridgeandroid">

  <!-- Needed for online activation and general networking usage -->
  <uses-permission android:name="android.permission.INTERNET" />
  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

  <!-- Needed for Bluetooth collect in CDDC -->
  <uses-permission
    android:name="android.permission.BLUETOOTH"
    android:maxSdkVersion="30" />
  <uses-permission
    android:name="android.permission.BLUETOOTH_ADMIN"
    android:maxSdkVersion="30" />
  <uses-permission android:name="android.permission.BLUETOOTH_SCAN" />
  <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />

  <!-- Needed for Wifi collect in CDDC -->
  <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
  <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />

  <!-- Needed for Geolocation, Bluetooth and Wifi CDDC collection -->
  <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
  <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

  <application>
    <activity
      android:name=".activation.ActivationActivity"
      android:exported="false" />
  </application>

</manifest>
